/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*END RESET*/

/* utilities */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
/* end utilities */