/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*END RESET*/

/* utilities */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.button {
    color: white;
    background-color: blue;
}
/* end utilities */

/* HEADER */
nav {
    padding: 20px;
}

.left-nav {
    height: 100%;
}

.right-nav {
    height: 100%;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    line-height: 25px;
}


.jumbotron {
    height: 500px;
    background-color: rgb(79, 162, 211);
}

.jumbotron-container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

#jumbo-title {
    font-size: 50px;
}

.jumbo-txt {
    width: 40%;
}

.jumbo-img {
    width: 60%;
}

.jumbo-img img {
    max-width: 100%;
}
/* END HEADER */

/* MAIN */
.main-container {
    max-width: 1000px;
    margin: 0 auto;
    border: 4px solid black;
}

.pricing {
    border: 4px solid red;
}
.pricing h2 {
    text-align: center;
}

.pricing-type-float {
    width: calc(100% / 3);
    background-color: white;
}

.pricing-type {
    border: 1px solid black;
}

.pricing-type-float ul {
    list-style: none;
}

.partner-section {
    border: 4px solid green;
}

.partner-img {
    width: 50%;
}

.partner-txt {
    width: 50%;
}

.partner-img img {
    max-width: 100%;
}
#partner-button {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.functionality-box {
    width: 100%;
    border: 4px solid orange;
}
.fun {
    width: calc(100% / 3);
    padding: 50px;
    height: 500px;
}
.fun img {
    max-width: 100%;
}

.sponsor-section {
    border: 4px solid red;
}

.sponsor-left, .sponsor-center, .sponsor-right {
    width: calc(100% / 3);
    height: 200px;
    border: 1px solid black;
}

.square-sponsor {
    width: 50%;
    height: 50%;
    border: 1px solid blue;
}


.free-trial-container {
    height: 200px;
    background-color: cornflowerblue;
    border: 4px solid black;
}

.free-trial {
    max-width: 1000px; /*same as main-container */
    height: 100%;
    margin: 0 auto;
    border: 4px solid black;
}

.free-trial-text {
    width: 67%;
    color: purple;
}

.free-trial-button {
    width: 33%;
    background-color: white;
}

.qa-row {
    border-top: 1px solid grey;
}

/* END MAIN */

/* FOOTER */
footer {
    height: 400px;
    background-color: black;
}

.footer-container {
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border: 4px solid #fff;
}

.footer-section {
    width: calc(100% / 5);
    color: white;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li:first-child {
    font-weight : bold;
}
/* END FOOTER */