/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*END RESET*/

body {
    font-family: 'Open Sans', sans-serif;
}

/* utilities */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.button {
    color: white;
    background-color: rgba(0,97,255,255);
    text-align: center;
}

.right-nav .button {
    width: 60px;
}
/* end utilities */

/* HEADER */
/* navbar */
nav {
    line-height: 25px;
    height: 25px;
    margin: 20px 0;
    padding: 0 20px;
    font-size: 15px;
}

.left-nav {
    height: 100%;
}

.right-nav {
    height: 100%;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 25px;
}
/* end navbar */

/* jumbo */
#jumbotron-background {
    background-color: rgba(180,208,231,255);
    height: 450px;
}
.jumbotron {
    height: 500px;
}

.jumbotron-container {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}

#jumbo-title {
    font-size: 40px;
    padding: 30px 0;
}
#arrow {
    font-size: 30px;
}
.jumbo-txt {
    width: 40%;
}
.jumbo-txt p {
    font-size: 12px;
    padding: 0 170px 10px 0;
    margin-bottom: 20px;
}

.jumbo-txt .button {
    width: 170px;
    height: 30px;
    padding: 5px;
    font-size: 12px;
}

.jumbo-img {
    width: 60%;
}

.jumbo-img img {
    max-width: 100%;
}

.button {

}
/* end jumbo */
/* END HEADER */

/* MAIN */
.main-container {
    max-width: 850px;
    margin: 0 auto;
}

/* pricing */
.pricing {
    margin-top: 130px;
}
.pricing h2 {
    text-align: center;
    margin-bottom: 20px;
}

.pricing-type-container {
    margin-top: 30px;
}

.pricing-type-float {
    border: 1px solid lightgray;
    width: calc(100% / 3 - 20px);
    background-color: white;
    height: 650px;
}

#middle-pricing {
    margin: 0 30px;
}

.pricing-header {
    text-align: center;
    border-bottom: 1px solid lightgray;
    height: 30px;
    line-height: 30px;
}

.pricing-header h6 {
    display: inline;
}

.small-logo {
    display: inline;
    height: 10px;
}

#check {
    color: blue;
}

.pricing-content {
    padding: 30px;
}

.pricing-title {
    height: 100px;
}

.pricing-title p {
    color: gray;
    padding-top: 5px;
    font-size: 10px;
}

.pricing-specs {
    height: 170px;
}

.try-or-buy {
    height: 80px;
}

.small-hr {
    width: 40px;
    color: lightgray;
}

.pricing-type-float ul {
    list-style: none;
    font-size: 10px;
    line-height: 22px;
}

.pricing-type-center {
    border: 1px solid lightgray;
    height: 165px;
    margin-top: 20px;
}

.enterprise-left {
    width: 70%;
    padding: 20px 30px;
    line-height: 35px;
}

.enterprise-left p, .enterprise-right .button{
    font-size: 10px;
}

.enterprise-right .button {
    margin: 28px auto;
    width: 166px;
    font-size: 10px;
    height: 25px;
    line-height: 25px;
}

.enterprise-right {
    width: 30%;
    height: 100%;
}
/* end pricing */

/* find a partner section */
.partner-section {
    margin: 50px 0;
}

.partner-img {
    width: 50%;
}

.partner-txt {
    width: 50%;
    padding: 50px;
}

.partner-txt p {
    font-size: 11px;
}

.partner-img img {
    max-width: 100%;
}

#partner-button {
    color: black;
    background-color: white;
    border: 1px solid black;
    width: 145px;
    padding: 5px;
}
/* end partner section */

/* Dropbox's functionality box */
.functionality-box {
    width: 100%;
}

.functionality-box h2 {
    text-align: center;
}

.fun {
    width: calc(100% / 3);
    padding: 50px;
    height: 400px;
}

.fun img {
    max-width: 100%;
}

.fun p {
    font-size: 11px;
    margin-top: 10px;
}

.our-users {
    margin: 60px 0 30px 0; 
    padding: 0 50px;  
}
/* end Dropbox's functionality box */

/* SPONSOR SECTION */
.sponsor-left, .sponsor-center, .sponsor-right {
    width: calc(100% / 3);
    height: 400px;
}

.square-sponsor {
    width: 50%;
    height: 50%;
    text-align: center;
    position: relative;
}

.sponsor-logo {
    max-width: 40%;
    max-height: 30%;
    filter: invert(100%);
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sponsor-center {
    background-color: #f5f5f5;
    font-size: 12px;
}

#sponsor-1 {
    background-color: #a2d39b;
}

#sponsor-2 {
    background-color: #61082b;
}

#sponsor-3 {
    background-color: #0093ce;
}

#sponsor-4 {
    background-color: #ff1c1c;
}

#sponsor-5 {
    background-color: #d5001f;
}

#sponsor-6 {
    background-color: #b4d0e7;
}

#sponsor-7 {
    background-color: #0d2481;
}

#sponsor-8 {
    background-color: #ffd830;
}

#sponsor-logo-center {
    width: 30%;
}

#sponsor-logo-center img{
    max-width: 100%;
    max-height: 100%;
    padding: 30px;
}

#sponsor-center-txt p:first-child {
    margin: 50px 100px 20px 30px;
}

#sponsor-center-txt p:last-child {
    margin-left: 30px;
}
/* END SPONSOR SECTION */

.free-trial-container {
    height: 200px;
    background-color: #b4d0e7;
}

.free-trial {
    max-width: 850px; /*same as main-container */
    height: 100%;
    margin: 0 auto;
}

.free-trial-text {
    width: 67%;
    color: #6b2244;
    line-height: 200px; /*same as free-trial-container */
}

.free-trial-button {
    width: 33%;
    position: relative;
}

.free-trial-button .button {
    color: black;
    background: white;
    font-size: 11px;
    margin-top: 86px;
    width: 150px;
    padding: 6px;
    position: absolute;
    right: 70px;
}

.qa-row {
    border-top: 1px solid grey;
}

/* END MAIN */

/* FOOTER */
footer {
    height: 400px;
    background-color: black;
}

.footer-container {
    height: 100%;
    max-width: 850px; /* same as main container */
    margin: 0 auto;
    border: 4px solid #fff;
}

.footer-section {
    width: calc(100% / 5);
    color: white;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li:first-child {
    font-weight : bold;
}
/* END FOOTER */